h1 {
    color: red;
}

html {
    font-size: 10dx;
    background-color: #21abfd;
    color: azure;
}

h1 {
    font-size: 60dx;
    text-align: center;
}

h2 {
    color: coral
}

li {
    font-size: 30dx;
}